/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

/*@font-face {
  font-family: 'TheGirlNextDoor', cursive;
  src: url('http://fonts.googleapis.com/css?family=The+Girl+Next+Door');
}*/

body {
  font-family: 'The Girl Next Door', cursive;
  color: #009086;
  // background-image: image-url('closet_pic_1.jpg');
  // -moz-background-size:cover;
  // -webkit-background-size:cover;
  // -o-background-size:cover;
  // background-size:cover;
  // background-repeat:no-repeat;
  background-color: #7AE2C0;
  text-align: center;
}

a {
  color: #D54800;
  text-decoration: none;
}

a:hover {
  color: #FFB189;
  text-decoration: none;
}

td,th {
  text-align: center;
}

.container {
  text-align: center;
}
