/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

.container {
  max-width: 500px;
}

.table thead th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table thead th .asc {
  background-image:image-url('up_arrow.gif');
  background-color: #e3f9f2;
}

.table thead th .desc {
 background-image:image-url('down_arrow.gif');
 background-color: #e3f9f2;
}

body {
  width: 100%;
  font-family: 'Glass Antiqua', cursive;
  color: #009086;
  background-color: #e3f9f2;
  text-align: center;
}

a {
  color: #E15D1A;
  text-decoration: none;
}

a:hover {
  color: #FFB189;
  text-decoration: none;
}

td,th {
  text-align: center;
}

p {
  font-size: 27px;
}

.btn.btn-xs{
  // background-color: #77DED6;
  font-size: 13px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px 5px 5px 5px;
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
.container {
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

.login {
  text-align: center;
  background-color: #009967;
  color: #ecf0f1;
  font-size: 17px;
  height: 30px;
  padding-top: 5px;
}


